<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>{% block title %}Flask{% endblock %} | 2022</title>
</head>
<body class="">
	<div class="container mx-auto font-mono text-lg pt-2 grid justify-items-center">


 	  {% block content %}{% endblock %} 
	</div>
  </h1>
</body>
</html>
