{% extends 'base_.html' %} {% block title %}Кандидат{% endblock %} {% block
content %}

<h1 class="text-4xl font-bold">Кандидат</h1>

{% if candidates %}

<img class="m-4 rounded-xl w-[400px]" src="{{candidates[0]['picture']}}" />

<div class="text-xl text-center">
  <p>
    Имя кандидата -
    <span class="text-zinc-500">{{candidates[0]['name']}}</span>
  </p>

  <p>
    Позиция кандидата -
    <span class="text-zinc-500">{{candidates[0]['position']}}</span>
  </p>
  <p>Навыки: <span class="text-zinc-500">{{candidates[0]['skills']}}</span></p>
  {% else %}
  <p class="py-40 text-bold text-7xl">Кандидата нет...</p>
  {% endif %}
</div>
<a class="hover:underline text-red-500 mb-5 uppercase" href="/"
  ><span class="text-zinc-500 font-bold">Главная</span></a
>
{% endblock %}
