{% extends 'base_.html' %}

{% block title %}Кандидаты{%  endblock %}
{% block content %}


	
	<h1 class="text-4xl font-bold m-4">Кандидаты</h1>	


	<ul class="">
	
	{% for s in data %}

	<div class="flex-col justify-center mt-4 text-xl">

		<li>
			<p>Имя кандидата - <a class="hover:underline text-red-500" href="/candidates/{{s['pk']}}/" ><span class="text-zinc-500">{{s['name']}}</span></p></a>
		</li>
		<li>
			<p>Позиция кандидата - <span class="text-zinc-500">{{s['position']}}</span></p>
		</li>
				<li>
			<p>Навыки: <span class="text-zinc-500 pt-2">{{s['skills']}}</span></p>
		</li>

</div>


	{% endfor %}
	</ul>	
{% endblock %}

