{% extends 'base_.html' %}

{% block title %}Навыки{%  endblock %}
{% block content %}


	
	<h1 class="text-4xl font-bold m-4">Навыки</h1>	



	<ul>	
	{% for s in skills %}
	<div class="flex-col justify-center mt-4 text-xl">

		<li>
			<p>Имя кандидата - <a class="hover:underline text-red-500" href="/candidates/{{s['pk']}}/" ><span class="text-zinc-500">{{s['name']}}</span></p></a>
		</li>
		<li>
			<p>Позиция кандидата - <span class="text-zinc-500">{{s['position']}}</span></p>
		</li>
				<li>
			<p>Навыки: <span class="text-zinc-500 pt-2">{{s['skills']}}</span></p>
		</li>

</div>
	{% endfor %}
</ul>

<a class="hover:underline text-red-500 mb-5 uppercase" href="/"
  ><span class="text-zinc-500 font-bold">Главная</span></a
{% endblock %}





